.home {
  /* background-color: #f5f5f5; */
  background-image: url('2.jpg');
  background-position: top;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease-in-out;

  .home-content {
    max-width: 800px;
    min-height: 40vh;
    margin: 0 auto;

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
      color: white;
      font-weight:bolder;
      font-size: 3rem;
      text-shadow: 4px 4px 4px black;
      transition: color 0.3s ease-in-out;

      @media (max-width: 768px) {
        font-size: 28px;
      }
    }

    p {
      font-size: 18px;
      color: white;
      margin-bottom: 40px;
      font-weight: 800;
      font-size: 2rem;
      line-height: 1.6;
      text-shadow: 4px 4px 4px black;
      transition: color 0.3s ease-in-out;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    button {
      padding: 12px 24px;
      background-color: #1A4D2E;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #4F6F52;
      }
    }
  }
}