.course-study-page {
  padding: 50px 0;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
.course-study-page h2 {
  font-size: 24px;
  color: Darkgreen;
  text-align: center;
}
.course-study-page h4 {
  font-size: 21px;
  color:darkgreen;
  text-align: center;
}
.course-study-page h5 {
  font-size: 20px;
  color: darkgreen;
  text-align: center;
}
.course-study-page a {
text-decoration: none;
background-color: white;
padding: 5px 10px;
border: 1px solid black;
color: darkgreen;
font-family:Monospace;
border-radius: 5px;
transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.course-study-page a:hover {
background-color: #4F6F52; /* Slightly darker green for hover effect */
color: white;
border-color: #4F6F52;
font-family:Monospace;    
}